<a href="https://colab.research.google.com/github/Aman05gupta/Python-Data-Types/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary
A dictionary is a versatile and mutable collection that stores key-value pairs. It is also known as an associative array or hash table in other programming languages. Dictionaries are unordered, meaning the elements do not have a specific order, and they are indexed by keys, which can be of any immutable type (strings, numbers, tuples).


---
## Creating a Dictionary

In [1]:
# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

In [2]:
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

## Accessing Elements

In [3]:
print(my_dict['name'])
print(my_dict['age'])

John
30

If the key does not exist, accessing it will raise a KeyError. To avoid this, you can use the get() method, which allows you to specify a default value if the key does not exist:

In [4]:
print(my_dict.get('city', 'Unknown'))
print(my_dict.get('job', 'Unknown'))

New York
Unknown

In [20]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
print(type(Employee))
print("printing Employee data .... ")
print("Name : %s" %Employee["Name"])
print("Age : %d" %Employee["Age"])
print("Salary : %d" %Employee["salary"])
print("Company : %s" %Employee["Company"])

<class 'dict'>
printing Employee data ....
Name : Dev
Age : 20
Salary : 45000
Company : WIPRO

## Modifying and Adding Elements
Dictionaries are mutable, so you can modify existing keys or add new key-value pairs:

In [10]:
# Modifying a value
my_dict['age'] = 32

# Adding a new key-value pair
my_dict['job'] = 'Engineer'

print(my_dict)

{'name': 'John', 'age': 32, 'job': 'Engineer'}

## Removing Elements
You can remove elements from a dictionary using the del keyword or the pop() method:

In [12]:
my_dict = {'name': 'John', 'age': 32, 'city': 'New York', 'job': 'Engineer'}

In [13]:
# Removing a key-value pair
del my_dict['city']
print(my_dict)   # Output: {'name': 'John', 'age': 32, 'job': 'Engineer'}

# Removing and retrieving the value
job = my_dict.pop('job')
print(job)       # Output: 'Engineer'
print(my_dict)   # Output: {'name': 'John', 'age': 32}

{'name': 'John', 'age': 32, 'job': 'Engineer'}
Engineer
{'name': 'John', 'age': 32}

**popitem():** removes the most recent key-value pair entered

In [2]:
# dictionary methods
dict = {1: "Hcl", 2: "WIPRO", 3: "Facebook", 4: "Amazon", 5: "Flipkart"}
# popitem() method
dict_demo.popitem()
print(dict_demo)

{1: 'Hcl', 2: 'WIPRO', 3: 'Facebook', 4: 'Amazon'}

## Dictionary Methods
Python dictionaries provide several built-in methods for various operations:


---


**keys():** Returns a view object that displays a list of all the keys in the dictionary.

In [14]:
print(my_dict.keys())

dict_keys(['name', 'age'])

**Values():** Returns a view object that displays a list of all the values in the dictionary.

In [16]:
print(my_dict.values())

dict_values(['John', 32])

**items():** Returns a view object that displays a list of key-value tuple pairs.

In [17]:
print(my_dict.items())

dict_items([('name', 'John'), ('age', 32)])

**clear():** Removes all elements from the dictionary.

In [19]:
my_dict.clear()
print(my_dict)

{}

**copy():** It returns a shallow copy of the dictionary which is created.

In [1]:
# dictionary methods
dict = {1: "Hcl", 2: "WIPRO", 3: "Facebook", 4: "Amazon", 5: "Flipkart"}
# copy() method
dict_demo = dict.copy()
print(dict_demo)

{1: 'Hcl', 2: 'WIPRO', 3: 'Facebook', 4: 'Amazon', 5: 'Flipkart'}

**keys():** It returns all the keys of the dictionary.

In [3]:
# dictionary methods
dict = {1: "Hcl", 2: "WIPRO", 3: "Facebook", 4: "Amazon", 5: "Flipkart"}
# keys() method
print(dict_demo.keys())

dict_keys([1, 2, 3, 4])

**get():** It is used to get the value specified for the passed key.

In [4]:
# dictionary methods
dict = {1: "Hcl", 2: "WIPRO", 3: "Facebook", 4: "Amazon", 5: "Flipkart"}
# get() method
print(dict_demo.get(3))

Facebook

**update():**
It mainly updates all the dictionary by adding the key-value pair of dict2 to this dictionary.

In [5]:
# dictionary methods
dict = {1: "Hcl", 2: "WIPRO", 3: "Facebook", 4: "Amazon", 5: "Flipkart"}
# update() method
dict_demo.update({3: "TCS"})
print(dict_demo)

{1: 'Hcl', 2: 'WIPRO', 3: 'TCS', 4: 'Amazon'}

**values():**
It returns all the values of the dictionary with respect to given input.

In [6]:
# dictionary methods
dict = {1: "Hcl", 2: "WIPRO", 3: "Facebook", 4: "Amazon", 5: "Flipkart"}
# values() method
print(dict_demo.values())

dict_values(['Hcl', 'WIPRO', 'TCS', 'Amazon'])