<a href="https://colab.research.google.com/github/Aman05gupta/Python-Data-Types/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Creating Sets
Sets can be created using curly braces {} or the set() function. Here are a few ways to create sets:

In [1]:
# Creating a set with curly braces
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [25]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}
print(Days)
print(type(Days))
print("looping through the set elements ... ")
for i in Days:
    print(i)

{'Tuesday', 'Wednesday', 'Saturday', 'Sunday', 'Thursday', 'Monday', 'Friday'}
<class 'set'>
looping through the set elements ...
Tuesday
Wednesday
Saturday
Sunday
Thursday
Monday
Friday

In [2]:
# Creating an empty set
empty_set = set()
print(empty_set)

set()

In [26]:
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])
print(Days)
print(type(Days))
print("looping through the set elements ... ")
for i in Days:
    print(i)

{'Tuesday', 'Wednesday', 'Saturday', 'Sunday', 'Thursday', 'Monday', 'Friday'}
<class 'set'>
looping through the set elements ...
Tuesday
Wednesday
Saturday
Sunday
Thursday
Monday
Friday

In [4]:
# Creating a set from a list
set_from_list = set([1, 2, 2, 3, 4])
print(set_from_list)

{1, 2, 3, 4}

It can contain any type of element such as integer, float, tuple etc. But mutable elements (list, dictionary, set) can't be a member of set.


---



we have created two sets, the set set1 have immutable elements and set2 have one mutable element as a list. While checking the type of set2, it raised an error, which means set can contain only immutable elements.

In [30]:
# Creating a set which have immutable elements
set_1 = {1,2,3, "AmanGupta", 20.5, 14}
print(type(set_1))

#Creating a set which have mutable element
set_2 = {1,2,3,["Amangupta",4]}
print(type(set_2))

<class 'set'>

TypeError: unhashable type: 'list'

Creating an empty set is a bit different because empty curly {} braces are also used to create a dictionary as well. So Python provides the set() method used without an argument to create an empty set.

In [31]:
# Empty curly braces will create dictionary
set3 = {}
print(type(set3))

# Empty set using set() function
set4 = set()
print(type(set4))

<class 'dict'>
<class 'set'>

Let's see what happened if we provide the duplicate element to the set.

In [32]:
set5 = {1,2,4,4,5,8,9,9,10}
print("Return set with unique elements:",set5)

Return set with unique elements: {1, 2, 4, 5, 8, 9, 10}

## Basic Set Operations
Adding and Removing Elements

add(): Adds an element to the set.

In [6]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [34]:
Months = set(["January","February", "March", "April", "May", "June"])
print("\nprinting the original set ... ")
print(Months)
print("\nAdding other months to the set...");
Months.add("July");
Months.add ("August");
print("\nPrinting the modified set...");
print(Months)
print("\nlooping through the set elements ... ")
for i in Months:
    print(i)

printing the original set ...
{'March', 'February', 'June', 'April', 'May', 'January'}

Adding other months to the set...

Printing the modified set...
{'March', 'February', 'June', 'July', 'April', 'May', 'August', 'January'}

looping through the set elements ...
March
February
June
July
April
May
August
January

update()

In [35]:
Months = set(["January","February", "March", "April", "May", "June"])
print("\nprinting the original set ... ")
print(Months)
print("\nupdating the original set ... ")
Months.update(["July","August","September","October"]);
print("\nprinting the modified set ... ")
print(Months);

printing the original set ...
{'March', 'February', 'June', 'April', 'May', 'January'}

updating the original set ...

printing the modified set ...
{'March', 'February', 'June', 'July', 'October', 'April', 'May', 'September', 'August', 'January'}

remove(): Removes an element from the set. Raises a KeyError if the element is not found.

In [10]:

my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

In [37]:
months = set(["January","February", "March", "April", "May", "June"])
print("\nprinting the original set ... ")
print(months)
print("\nRemoving some months from the set...");
months.remove("January");
months.remove("May");
print("\nPrinting the modified set...");
print(months)

printing the original set ...
{'March', 'February', 'June', 'April', 'May', 'January'}

Removing some months from the set...

Printing the modified set...
{'March', 'February', 'June', 'April'}

discard(): Removes an element from the set if it is present. Does not raise an error if the element is not found.

In [11]:
my_set.discard(5)
print(my_set)

{1, 2, 4}

In [36]:
months = set(["January","February", "March", "April", "May", "June"])
print("\nprinting the original set ... ")
print(months)
print("\nRemoving some months from the set...");
months.discard("January");
months.discard("May");
print("\nPrinting the modified set...");
print(months)
print("\nlooping through the set elements ... ")
for i in months:
    print(i)

printing the original set ...
{'March', 'February', 'June', 'April', 'May', 'January'}

Removing some months from the set...

Printing the modified set...
{'March', 'February', 'June', 'April'}

looping through the set elements ...
March
February
June
April

### Difference between discard() and remove()

Despite the fact that discard() and remove() method both perform the same task, There is one main difference between discard() and remove().

If the key to be deleted from the set using discard() doesn't exist in the set, the Python will not give the error. The program maintains its control flow.

On the other hand, if the item to be deleted from the set using remove() doesn't exist in the set, the Python will raise an error.

In [40]:
Months = set(["January","February", "March", "April", "May", "June"])
print("\nprinting the original set ... ")
print(Months)
print("\nRemoving items through discard() method...");
Months.discard("Feb"); #will not give an error although the key feb is not available in the set
print("\nprinting the modified set...")
print(Months)
print("\nRemoving items through remove() method...");
Months.remove("Jan") #will give an error as the key jan is not available in the set.
print("\nPrinting the modified set...")
print(Months)

printing the original set ...
{'March', 'February', 'June', 'April', 'May', 'January'}

Removing items through discard() method...

printing the modified set...
{'March', 'February', 'June', 'April', 'May', 'January'}

Removing items through remove() method...

KeyError: 'Jan'

pop(): Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.

In [12]:
element = my_set.pop()
print(element)
print(my_set)

1
{2, 4}

In [38]:
Months = set(["January","February", "March", "April", "May", "June"])
print("\nprinting the original set ... ")
print(Months)
print("\nRemoving some months from the set...");
Months.pop();
Months.pop();
print("\nPrinting the modified set...");
print(Months)

printing the original set ...
{'March', 'February', 'June', 'April', 'May', 'January'}

Removing some months from the set...

Printing the modified set...
{'June', 'April', 'May', 'January'}

clear(): Removes all elements from the set.

In [13]:
my_set.clear()
print(my_set)

set()

In [39]:
Months = set(["January","February", "March", "April", "May", "June"])
print("\nprinting the original set ... ")
print(Months)
print("\nRemoving all the items from the set...");
Months.clear()
print("\nPrinting the modified set...")
print(Months)

printing the original set ...
{'March', 'February', 'June', 'April', 'May', 'January'}

Removing all the items from the set...

Printing the modified set...
set()

# Set Operations
Sets support several mathematical operations:

**union():** Returns a new set with elements from both sets.

In [14]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [41]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}
Days2 = {"Friday","Saturday","Sunday"}
print(Days1|Days2) #printing the union of the sets

{'Tuesday', 'Wednesday', 'Sunday', 'Thursday', 'Monday', 'Saturday', 'Friday'}

In [42]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
Days2 = {"Friday","Saturday","Sunday"}
print(Days1.union(Days2)) #printing the union of the sets

{'Tuesday', 'Thursday', 'Wednesday', 'Saturday', 'Monday', 'Sunday', 'Friday'}

**intersection():** Returns a new set with elements common to both sets.

In [16]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [46]:
set1 = {1,2,3,4,5,6,7}
set2 = {1,2,20,32,5,9}
set3 = set1.intersection(set2)
print(set3)

{1, 2, 5}

In [43]:
Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday","Tuesday","Sunday", "Friday"}
print(Days1&Days2)

{'Tuesday', 'Monday'}

In [45]:
set1 = {"Devansh","John", "David", "Martin"}
set2 = {"Steve", "Milan", "David", "Martin"}
print(set1.intersection(set2))

{'Martin', 'David'}

**intersection_update()**

In [47]:
a = {"Devansh", "bob", "castle"}
b = {"castle", "dude", "emyway"}
c = {"fuson", "gaurav", "castle"}

a.intersection_update(b, c)

print(a)

{'castle'}

**difference():** Returns a new set with elements in the first set but not in the second set.

In [18]:
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

**symmetric_difference():** Returns a new set with elements in either set but not in both.

In [20]:
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 4, 5}

# Difference between the two sets
**Using subtraction** ( - ) operator

In [49]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday", "Tuesday", "Sunday"}
print(Days1-Days2)

{'Wednesday', 'Thursday'}

**Using difference() method**

In [51]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday", "Tuesday", "Sunday"}
print(Days1.difference(Days2))

{'Wednesday', 'Thursday'}

# Symmetric Difference of two sets

 **Using ^ operator**

In [52]:
a = {1,2,3,4,5,6}
b = {1,2,9,8,10}
c = a^b
print(c)

{'gaurav', 'fuson', 'castle'}

**Using symmetric_difference() method**

In [53]:
a = {1,2,3,4,5,6}
b = {1,2,9,8,10}
c = a.symmetric_difference(b)
print(c)

{3, 4, 5, 6, 8, 9, 10}

## Set comparisons

In [54]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday", "Tuesday"}
Days3 = {"Monday", "Tuesday", "Friday"}

#Days1 is the superset of Days2 hence it will print true.
print (Days1>Days2)

#prints false since Days1 is not the subset of Days2
print (Days1<Days2)

#prints false since Days2 and Days3 are not equivalent
print (Days2 == Days3)

True
False
False

### FrozenSets

a frozen set is an immutable version of the built-in set data type. It is similar to a set, but its contents cannot be changed once a frozen set is created.

In [55]:
Frozenset = frozenset([1,2,3,4,5])
print(type(Frozenset))
print("\nprinting the content of frozen set...")
for i in Frozenset:
    print(i);
Frozenset.add(6)

<class 'frozenset'>

printing the content of frozen set...
1
2
3
4
5

AttributeError: 'frozenset' object has no attribute 'add'

### Frozenset for the dictionary

If we pass the dictionary as the sequence inside the frozenset() method, it will take only the keys from the dictionary and returns a frozenset that contains the key of the dictionary as its elements.

In [55]:
Dictionary = {"Name":"John", "Country":"USA", "ID":101}
print(type(Dictionary))
Frozenset = frozenset(Dictionary); #Frozenset will contain the keys of the dictionary
print(type(Frozenset))
for i in Frozenset:
    print(i)

# Set Methods
In addition to the operations above, sets have several useful methods:

**issubset():** Checks if one set is a subset of another.

In [21]:
set_a = {1, 2}
set_b = {1, 2, 3, 4}
print(set_a.issubset(set_b))

True

**issuperset(**): Checks if one set is a superset of another.

In [22]:
print(set_b.issuperset(set_a))

True

**isdisjoint():** Checks if two sets have no elements in common.

In [24]:
set_c = {5, 6}
print(set_a.isdisjoint(set_c))

True

###  Write a program to remove the given number from the set.

In [56]:
my_set = {1,2,3,4,5,6,12,24}
n = int(input("Enter the number you want to remove"))
my_set.discard(n)
print("After Removing:",my_set)

Enter the number you want to remove2
After Removing: {1, 3, 4, 5, 6, 12, 24}

### Write a program to add multiple elements to the set.

In [57]:
set1 = set([1,2,4,"John","CS"])
set1.update(["Apple","Mango","Grapes"])
print(set1)

{1, 2, 3, 4, 5, 6, 7}

### Write a program to find the union between two set.

In [58]:
set1 = set(["Peter","Joseph", 65,59,96])
set2  = set(["Peter",1,2,"Joseph"])
set3 = set1.union(set2)
print(set3)

{96, 65, 2, 1, 'Peter', 'Joseph', 59}

### Write a program to find the intersection between two sets

In [59]:
set1 = {23,44,56,67,90,45,"Javatpoint"}
set2 = {13,23,56,76,"Sachin"}
set3 = set1.intersection(set2)
print(set3)

{56, 23}

### Write the program to add element to the frozenset.

In [60]:
set1 = {23,44,56,67,90,45,"Javatpoint"}
set2 = {13,23,56,76,"Sachin"}
set3 = set1.intersection(set2)
print(set3)

{56, 23}

### Write the program to find the issuperset, issubset and superset.

In [61]:
set1 = set(["Peter","James","Camroon","Ricky","Donald"])
set2 = set(["Camroon","Washington","Peter"])
set3 = set(["Peter"])

issubset = set1 >= set2
print(issubset)
issuperset = set1 <= set2
print(issuperset)
issubset = set3 <= set2
print(issubset)
issuperset = set2 >= set3
print(issuperset)

False
False
True
True