<a href="https://colab.research.google.com/github/Aman05gupta/Python-Data-Types/blob/main/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Data Types
Every value has a datatype, and variables can hold values.The interpreter binds the value implicitly to its type.

---

We did not specify the type of the variable a, which has the value five from an integer. The Python interpreter will automatically interpret the variable as an integer.


---



We can verify the type of the program-used variable thanks to Python. The type() function in Python returns the type of the passed variable.

In [1]:
a=10
b="Hi Python"
c = 10.5
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

## Numbers

In [2]:
a = 5
print("The type of a", type(a))

b = 40.5
print("The type of b", type(b))

c = 1+3j
print("The type of c", type(c))
print(" c is a complex number", isinstance(1+3j,complex))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>
 c is a complex number True

### String
The sequence of characters in the quotation marks can be used to describe the string. A string can be defined in Python using single, double, or triple quotes.

---

**Creating Strings**

In [8]:
str1 = 'Hello, World!'
str2 = "Hello, World!"
print(str1)
print(str2)

Hello, World!
Hello, World!

### Triple quotes are used for strings that span multiple lines:

In [10]:
str3 = '''This is a multi-line string.'''
print(str3)

This is a multi-line string.

### String Operations
**Concatenation**

concatenate (join) strings using the **+** operator.

In [13]:
str1 = 'Hello'
str2 = 'World'
str3 = str1 + ' ' + str2
print(str3)

Hello World

**Repetition**

You can repeat strings using the * operator.

In [17]:
str4 = 'Hello' * 3
print(str4)

HelloHelloHello

In [19]:
str5 = 'Hello' ' ' * 3
print(str5)

Hello Hello Hello

**Indexing and Slicing**

 Strings can be indexed and sliced to access subsets of the string.

In [26]:
str_1 = 'hello String python'
print(str_1[0])
print(str_1[1])

print(str_1[:])
print(str_1[0:1])
print(str_1[0:10])

print(str_1[0:])
print(str_1[:0])
print(str_1[2:])

print(str_1[-1])
print(str_1[-2])

print(str_1[0:-1])
print(str_1[0:-10])

print(str_1[2:-1])
print(str_1[3:-3])

print(str_1[::])
print(str_1[::2])
print(str_1[::-1])

h
e
hello String python
h
hello Stri
hello String python

llo String python
n
o
hello String pytho
hello Str
llo String pytho
lo String pyt
hello String python
hloSrn yhn
nohtyp gnirtS olleh

**Length:**

The *len()* function returns the length of the string.

In [27]:
print(len(str_1))

19

## String Methods

**Lowercase and Uppercase**

In [29]:
str_2 = 'HELLO AMAN'
str_3 = 'hello aman'

In [30]:
print(str_2.lower())
print(str_3.upper())

hello aman
HELLO AMAN

**Strip:** Remove leading and trailing whitespace.

In [31]:
str_4 = '  Hello, World!  '
print(str_4.strip())

Hello, World!

**Replace:** Replace a substring with another substring.

In [32]:
str_5 = 'Hello, World!'

In [33]:
print(str_5.replace('World', 'Python'))

Hello, Python!

**Split and Join:** Split a string into a list of substrings and join a list of strings into a single string.

In [37]:
str_5 = 'Hello, World!'
words = str_5.split(', ')
joined_str = ' '.join(words)

print(joined_str)

Hello World!

**Find and Count:** Find the index of a substring and count occurrences of a substring

In [38]:
print(str_5.find('World'))
print(str_5.count('l'))

7
3

## String Formatting



---
### Old-style (%) formatting

In [39]:
name = 'John'
age = 30
print('My name is %s and I am %d years old.' % (name, age))

My name is John and I am 30 years old.

### str.format() method:

In [40]:
print('My name is {} and I am {} years old.'.format(name, age))

My name is John and I am 30 years old.

### f-strings (formatted string literals).

In [41]:
print(f'My name is {name} and I am {age} years old.')

My name is John and I am 30 years old.