<a href="https://colab.research.google.com/github/Aman05gupta/Python-Data-Types/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple
A tuple is an immutable sequence of elements, similar to a list, but with the key difference that tuples cannot be changed once they are created. This immutability makes tuples useful for situations where you want to store a collection of items that should not be modified accidentally.


---
## Creating Tuples

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
another_tuple = 1, 2, 3
print(another_tuple)

(1, 2, 3)

## Accessing Elements

In [ ]:
print(my_tuple[0])
print(my_tuple[2])
print(my_tuple[-1])

1
3
5

## Immutable Nature

In [ ]:
# Raises TypeError: 'tuple' object does not support item assignment
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

## Tuple with Different Data Types

In [ ]:
mixed_tuple = (1, 'hello', 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

## Single Element Tuple
To create a tuple with a single element, you need to include a comma , after the element:



---
Without the comma, Python will interpret (1) as an integer in parentheses, not a tuple.

In [ ]:
single_tuple = (1,)
print(single_tuple)

(1,)

## Tuple Methods
**index():** Returns the index of the first occurrence of a value.

In [ ]:
my_tuple = (1, 2, 3, 2, 4)
print(my_tuple.index(2))

1

 **count():** Returns the number of occurrences of a value.

In [ ]:
my_tuple = (1, 2, 3, 2, 4)
print(my_tuple.count(2))

2

## Tuple Advantages
**Immutable:** Once created, tuples cannot be modified, providing data integrity.

**Faster than Lists:** Tuples are slightly faster than lists for accessing elements.

**Valid Dictionary Keys:** Tuples can be used as keys in dictionaries (lists cannot, due to mutability).